.cards-container {
    display: flex;
    justify-content: center;
    max-width: 100%;
    max-height: fit-content;
}

.cards {
    width: 1700px;
    position: absolute;
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: space-around;
    top: 400px;
}

.buttons-container {
    position: absolute;
    top: 1000px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.buttons {
    width: 600px;
    display: flex;
    justify-content: space-around;
}

